{% extends 'fileManager/base.html' %}

{% load staticfiles %}

{% block title %}{{ test }}{% endblock %}
{% block page-header  %}  {% endblock %}
{% block body-class %} {% endblock %}

{% block body_block %}
<table class="table">
<thead>
    <tr>
        <th>Nombre completo</th>
        <th>Carta 1</th>
        <th>Carta 2</th>
        <th>Acción</th>
    </tr>
</thead>
{% for trainee in trainees %}
<tr>
    <td>{{trainee}}</td>
    <td><a href="{{trainee.acceptance_note.url}}">Descargar</a></td>
    <td><a href="{{trainee.organization_acceptance_note.url}}">Descargar</a></td>
    <td>
        <a href="{% url 'fileManager:subir_cartas' trainee=trainee.pk%}">Subir cartas firmadas</a>
    </td>
</tr>
{% endfor %}
</table>


{% endblock %}
